@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');
body,html { height: 100%; }
body {
  min-width: 1320px;
  font-family: 'IBM Plex Sans KR', sans-serif;
  color: #666666;
  scroll-behavior: smooth;
}
* { box-sizing: border-box; }
ul,li { list-style: none; }
a { color: #666666; }
h1,h2,h3,h4,h5,h6 { line-height: 1; }

/* 공통부분 */
#container section .text-wrap h3 {
  font-size: 40px;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.4;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}

#container section .text-wrap h3.on {
  opacity: 1;
  transform: translateY(0px);
}

#container section .text-wrap p {
  margin: 16px 0 40px;
  color: #ffffff;
  font-size: 20px;
  line-height: 1.5;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}

#container section .text-wrap p.on {
  opacity: 1;
  transform: translateY(0px);
}

#container section .text-wrap a {
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}

#container section .text-wrap a.on {
  opacity: 1;
  transform: translateY(0px);
}


.top-btn {
  width: 48px;
  height: 48px;
  position: fixed;
  bottom: 32px;
  right: 40px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background: url('../img/arrow-top.png') no-repeat center / 45%;
  background-color: #ffffff;
  z-index: 100;
  transition: .2s ease-out;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}

.top-btn.on {
  opacity: 1;
  visibility: visible;
}

#header-wrap {
  width: 100%;
  min-width: 1320px;
  position: fixed;
  top: -90px;
  left: 0;
  z-index: 300;
  background-color: rgba(255,255,255,0);
  transition: all .2s;
}

#header-wrap.fixed {
  top: 0;
}

#header-wrap.on {
  background-color: rgba(255,255,255,1);
}

#header-wrap.dark {
  background-color: rgba(0,0,0,1);
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #333333;
}

#header-wrap.dark > #header .inner {
  display: none;
}

#header .close {
  display: none;
  position: absolute;
  top: 35px;
  right: 63px;
}

#header .close i {
  font-size: 30px;
  color: #ffffff;
  opacity: 0.7;
  transition: all .2s;
}

#header .close i:hover {
  opacity: 1;
}

#header-wrap.dark > #header .close {
  display: block;
}

#header-wrap.on #logo img {
  content: url('https://www.cjolivenetworks.co.kr/images/common/logo.svg');
}

#header-wrap.on .inner ul li a {
  color: #000000;
}

#header {
  position: relative;
  width: 100%;
  height: 90px;
  padding: 0 24px;
  overflow: hidden;
}

#header #logo {
  width: 160px;
  height: 86px;
  position: absolute;
  margin: 19px 0;
  left: 40px;
}

#header .inner {
  width: 100%;
  height: 86px;
  padding-left: 222px;
}

#header .inner ul {
  height: 100%;
  display: flex;
  align-items: center;
}

#header .inner ul li {
  position: relative;
  margin: 31px 24px 22px;
}

#header .inner ul li a {
  color: #ffffff;
  transition: all 0.2s;
}

#header .inner ul li a {
  font-size: 18px;
}

#header .inner ul#login-menu {
  /* height: auto; */
  position: absolute;
  bottom: 0;
  right: 40px;
  padding: 36px 0 32px;
}

#header .inner ul#login-menu li {
  margin: 0 0 0 32px;
}

#header .inner ul#login-menu li a {
  line-height: 33px;
}

#header .inner ul#login-menu li a span {
  font-size: 28px;
  line-height: 36px;
  margin-top: 9px;
  display: inline-block;
  width: 32px;
}

#header-wrap .gnb-all-wrap {
  display: none;
  width: 100%;
  min-width: 1280px;
  height: 150px;
  background-color: #ffffff;
  position: relative;
}

#header-wrap .gnb-all-wrap.on {
  display: block;
  box-shadow: -1px -1px 2px rgba(0,0,0,0.1);
}

#header-wrap .gnb-all-inner {
  width: 100%;
  min-width: 1280px;
  padding-left: 246px;
}

#header-wrap .gnb-all-wrap .gnb-list {
  position: absolute;
  display: none;
  width: 100%;
  height: 120px;
  padding-top: 30px;
}

#header-wrap .gnb-list.on {
  display: block;
}

#header-wrap .gnb-list ul li {
  position: relative;
  float: left;
  margin: 0 24px;
}

#header-wrap .gnb-list ul li a {
  color: #000000;
  font-size: 17px;
  transition: all 0.2s;
}


#header-wrap #gnb li.on a,
#header-wrap .gnb-list ul li.on a {
  color: #006ecd;
}

#header-wrap #gnb li:after,
#header-wrap .gnb-list ul li:after {
  transition: all 0.2s;
  content: '';
  width: 0%;
  height: 2px;
  background-color: #006ecd;
  position: absolute;
  bottom: -10px;
  left: 0;
}

#header-wrap #gnb li.on:after,
#header-wrap .gnb-list ul li.on:after {
  width: 100%;
}

.search-wrap {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  min-width: 1320px;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
  position: fixed;
  transition: .6s;
  z-index: 9999;
}

.search-wrap .close {
  position: absolute;
  top: 33px;
  right: 33px;
  font-size: 31px;
  margin-right: 17px;
}

.search-wrap .inner {
  background-color: #ffffff;
  padding: 96px 80px;
  height: 336px;
  box-sizing: border-box;
  margin: 0 auto;
}

.search-box {
  width: 700px;
  min-width: 700px;
  margin: 0 auto;
}

.search-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5;
  border-bottom: 1px solid #333333;
}

.search-form input {
  display: block;
  width: 700px;
  height: 63px;
  line-height: 63px;
  border: 0;
  box-sizing: border-box;
  outline: none;
  font-size: 24px;
  letter-spacing: -1px;
}

.search-form input::placeholder {
  top: 50%;
  font-size: 22px;
  color: #999999;
  letter-spacing: -1px;
}

.search-form .search {
  font-size: 30px;
  line-height: 63px;
}

.search-wrap.on {
  opacity: 1;
  visibility: visible;
}

.search-tag {
  margin: 40px 0 0 -8px;
  display: flex;
}

.search-tag li {
  margin: 8px 0px 0px 8px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.search-tag li a {
  color: #000000;
  display: inline-block;
  padding: 8px 14px;
  line-height: 1.5;
  font-size: 14px;
  letter-spacing: -0.3px;
}

.all-menu-wrap {
  min-width: 1024px;
  position: fixed;
  top: 90px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  background: #000 url('../img/menu_bg.jpg') no-repeat center;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  opacity: 0;
  visibility: hidden;
  transition: all .2s;
}

.all-menu-wrap::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.all-menu-wrap.on {
  opacity: 1;
  visibility: visible;
}

.all-menu-box {
  max-width: 1320px;
  margin: 0 auto;
  padding: 74px 24px 0;
}

.all-menu-box .list {
  width: 100%;
  display: flex;
}

.all-menu-box .list h2 {
  font-size: 32px;
  color: #ffffff;
  font-weight: 500;
  width: 204px;
}

.all-menu-box .main-list {
  display: flex;
  flex-wrap: wrap;
  width: 1096px;
}

.all-menu-box .main-list > li {
  padding: 0 60px 60px 0;
}

.all-menu-box .main-list.service > li {
  width: 18%;
}

.all-menu-box .main-list li h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
}

.all-menu-box .main-list li h4 a {
  color: #ffffff;
}

.all-menu-box .sub-list li a {
  color: #ffffff;
  opacity: 0.7;
  font-size: 14px;
  line-height: 1.8;
}

.all-menu-box .sub-list li a:hover {
  opacity: 1;
}

#mainbanner {
  width: 100%;
  height: 100%;
}

#mainbanner .inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#mainbanner .inner img {
  display: block;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

#mainbanner .inner .text-wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 140px;
}

#mainbanner .inner #maintext .maintitle {
  margin-bottom: 25px;
}

#mainbanner .inner #maintext .subtitle {
  margin-bottom: 80px;
}

.maintitle {
  font-size: 44px;
  font-weight: 500;
  line-height: 1.4;
  color: #ffffff;
}

.subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.8);
}

.btn {
  display: inline-block;
  padding: 12px 34px;
  background-color: #ffffff;
  border-radius: 30px;
  color: #222222;
  font-size: 16px;
  line-height: 1.5;
  transition: all 0.3s;
}

.btn:active {
  transform: scale(0.95);
}

.btn-outline {
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  border: 1px solid #ffffff;
}

.btn-outline:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #000000;
  border: 1px solid #ffffff;
}

a.btn + a {
  margin-left: 15px;
}

#mainbanner .btn-wrap {
  position: absolute;
  bottom: 9%;
  left: 140px;
  z-index: 999;
}

#mainbanner .btn-wrap button {
  width: 66px;
  height: 66px;
  outline: none;
  border-radius: 50%;
  border: 3px solid #ffffff;
  background-color: rgba(0,0,0,0);
  margin-right: 20px;
  color: #ffffff;
  font-size: 28px;
  cursor: pointer;
}

#mainbanner .swiper-pagination {
  position: absolute;
  top: 25px;
  left: 70px;
  width: 100px;
  color: #dddddd;
}


#mainbanner .swiper-pagination span {
  font-size: 18px;
  letter-spacing: 10px;
  color: #dddddd;
}

#mainbanner .swiper-pagination span.swiper-pagination-current {
  font-weight: 600;
  color: #ffffff;
  margin-right: -5px;
}

#mainbanner .down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  animation-name: updown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  z-index: 999;
}

#mainbanner .down i {
  font-size: 40px;
  color: #ffffff;
  opacity: 0.7;
  transform: translateX(-50%);
}

@keyframes updown {
  0%{
    transform: translateY(0%);
  }
  50%{
    transform: translateY(20%);
  }
  100%{
    transform: translateY(0%);
  }
}

#container {
  width: 100%;
}

#container section {
  width: 100%;
}

#container section .inner {
  width: 1320px;
  height: auto;
  margin: 0 auto;
}

#container section#first {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 240px;
}


#container section#first .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#container section#first .inner h2{
  font-size: 30px;
  color: #222222;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

#container section#first .width-change {
  position: relative;
  width: 100%;
  height: 800px;
  margin: 0 auto;
  margin-top: 180px;
}

#container section#first .video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

#container section#first .video-wrap::before {
  content: '';
  width: 44%;
  height: 800px;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../img/main-video-bg.png') no-repeat 100% 0;
  background-size: 115% 100%;
  z-index: 1;
}

#container section#first video {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-44%);
  min-width: 100%;
  min-height: 100%;
  width: 220%;
  height: 100%;
}

#container section#first .text-wrap {
  width: 100%;
  height: 800px;
  padding: 247px 186px 0;
  z-index: 5;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* #container section .inner .box {
  float: left;
  width: 50%;
  min-height: 700px;
  display: flex;
  align-items: center;
}

#container section .inner .box .text-box .maintitle {
  margin-bottom: 20px;
}

#container section .inner .box .text-box .subtitle {
  margin-bottom: 35px;
} */

#container section#second {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/section_3_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#container section#second .inner {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 660px;
}

#container section#second .text-wrap {
  width: 100%;
}

#container section#third {
  position: relative;
  width: 100%;
  height: auto;
  background: url('../img/img-main-bg-03-pc.png') no-repeat 50% 0;
  background-size: 100% auto;
  background-color: #000000;
  overflow: hidden;
  transition: 0.4s ease;
}

#container section#third.on {
  background-color: #ffffff;
}

#container section#third .core-wrap {
  width: 100%;
  height: auto;
  overflow: hidden;
}

#container section#third .core-wrap .inner {
  width: 1280px;
  margin: 0 auto;
  padding-top: 180px;
}

#container section#third .core-wrap .title-area {
  padding-left: 660px;
  transition: .4s ease;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
}

#container section#third .title-area.on {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

#container section#third .title-area h3 {
  font-size: 44px;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: .5px;
}

#container section#third .title-area p {
  font-size: 20px;
  color: #ffffff;
  line-height: 1.5;
  margin-top: 16px;
}

#container section#third .core-wrap .title-area .btn {
  margin-top: 40px;
}

#container section#third .core-wrap .core-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

#container section#third .core-wrap .core-list li {
  position: relative;
  transition: .4s ease;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
}

#container section#third .core-wrap .core-list li::after {
  content: '';
  width: 286px;
  height: 244px;
  position: absolute;
  bottom: 110px;
  right: -230px;
  background: url('../img/ai.png') no-repeat center / cover;
  z-index: -1;
  opacity: .7;
}

#container section#third .core-wrap .core-list li.on {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

#container section#third .core-wrap .core-list li:nth-child(even) {
  align-self: flex-end;
}

#container section#third .core-wrap .core-list li:nth-child(1) {
  width: 550px;
}

#container section#third .core-wrap .core-list li:nth-child(2)::after {
  width: 1208px;
  height: 318px;
  bottom: 30px;
  right: -40px;
  background: url('../img/big-data.png') no-repeat center / cover;
}

#container section#third .core-wrap .core-list li:nth-child(3)::after {
  width: 1506px;
  bottom: 120px;
  left: -180px;
  background: url('../img/blockchain.png') no-repeat center / cover;
}

#container section#third .core-wrap .core-list li:nth-child(4)::after {
  width: 794px;
  bottom: 120px;
  right: 240px;
  background: url('../img/cloud.png') no-repeat center / cover;
}

#container section#third .core-wrap .core-list li img {
  transition: .4s ease;
}

#container section#third li .text-box {
  margin-top: 20px;
  transition: .4s ease;
}

#container section#third li .text-box h4 {
  font-size: 40px;
  color: #ffffff;
  font-weight: 400;
  line-height: 1.4;
}

#container section#third .text-box p {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.5;
  margin-top: 6px;
  opacity: .8;
}

#container section#third .text-box span {
  display: inline-block;
  margin-top: 20px;
  font-size: 24px;
  line-height: 1.4;
  color: #ffffff;
  opacity: .8;
}

#container section#third .core-wrap .core-list li:nth-child(2) {
  width: 660px;
  margin: 236px 70px 0 0;
}

#container section#third .core-wrap .core-list li:nth-child(3) {
  width: 660px;
  margin: 236px 0 0 70px;
}

#container section#third .core-wrap .core-list li:nth-child(4) {
  width: 660px;
  margin: 236px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#container section#third .service-wrap {
  width: 100%;
  height: auto;
  overflow: hidden;
}

#container section#third .service-wrap .inner {
  width: 1280px;
  margin: 0 auto;
  padding: 356px 0 176px;
  height: auto;
  overflow: hidden;
}

#container section#third .service-wrap .title-area {
  position: relative;
  padding-left: 0;
}

#container section#third .service-wrap.on > .inner > .title-area > h3,
#container section#third .service-wrap.on > .inner > .title-area > p,
#container section#third .service-wrap.on > .inner > .title-area > a,
#container section#third .service-wrap.on > .inner > .service-list > li > a::before,
#container section#third .service-wrap.on > .inner > .service-list > li > a > .text-box > h4 {
  color: #000000;
}

#container section#third .service-wrap.on > .inner > .service-list > li > a
#container section#third .service-wrap.on > .inner > .service-list > li > a > .text-box > h4 {
  color: #000000;
}

#container section#third .service-wrap.on > .inner > .service-list > li > a > .text-box > p,
#container section#third .service-wrap.on > .inner > .service-list > li > a > .text-box > span {
  color: #666666;
}

#container section#third .service-wrap .title-area a.btn-outline {
  position: absolute;
  top: 170px;
  left: 0;
  border: 0;
}

#container section#third .service-wrap .title-area a.btn-outline::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 1px;
  background:linear-gradient(45deg,#00b9db,#0466fd);
  -webkit-mask:
  linear-gradient(#fff 0 0) content-box,
  linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

#container section#third .service-wrap .title-area a.btn-outline:hover::before {
  padding: 24px;
}

#container section#third .service-wrap .title-area a.btn-outline:hover::after {
  content: "전체보기 →";
  position: absolute;
  top: 26%;
  left: 24%;
  color: #ffffff;
}

#container section#third .service-list {
  float: right;
  width: 1100px;
  padding-top: 100px;
}

#container section#third .service-list li {
  float: left;
  width: 400px;
  margin: 76px 0 0 150px;
  transition: .4s ease;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
}

#container section#third .service-list li.on {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

#container section#third .service-list li a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
}

#container section#third .service-list li a img {
  display: inline-block;
  border-radius: 10px;
  width: 400px;
  height: 548px;
  object-fit: cover;
}

#container section#third .service-list .text-box {
  width: 100%;
  margin-top: 20px;
}

#container section#third .service-list li > a::before {
  content: '';
  position: absolute;
  top: 85px;
  left: -150px;
  font-size: 40px;
  color: #ffffff;
  transform: rotate(-90deg);
}

#container section#third .service-list li:nth-child(1) > a::before {
  content: 'FactoryOne';
}

#container section#third .service-list li:nth-child(2) > a::before {
  content: 'ELissOne';
  top: 65px;
  left: -125px;
}

#container section#third .service-list li:nth-child(3) > a::before {
  content: 'CJ ONE AD';
  top: 80px;
  left: -140px;
}

#container section#third .service-list li:nth-child(4) > a::before {
  content: 'OneOrder';
  top: 75px;
  left: -130px;
}

#container section#third .service-list li:nth-child(5) > a::before {
  content: 'Smart Culture Space';
  top: 170px;
  left: -230px;
}

#container section#third .service-list li:nth-child(6) > a::before {
  content: 'mplace';
  top: 50px;
  left: -110px;
}

#container section#third .service-list .text-box h4 {
  font-size: 24px;
}

#container section#fourth {
  width: 100%;
  height: 356px;
  background: url('../img/esg-bg.jpg') no-repeat center / cover;
}

#container section#fourth .inner {
  width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding-top: 70px;
}

#container section#fourth .inner p {
  color: #ffffff;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.5;
}

#container section#fourth .inner h3 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 500;
  margin: 16px 0 40px;
  line-height: 1.4;
}

#container section#fourth .inner a {
  color: #ffffff;
  background: #000000;
}

#container section#fifth,
#container section#sixth {
  padding: 180px 0;
  background-color: #f7f7f7;
}

#container section#sixth {
  background-color: #ffffff;
}

#container section#fifth .inner,
#container section#sixth .inner, {
  width: 1280px;
  margin: 0 auto;
}

#container section#fifth .inner .box,
#container section#sixth .inner .box {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

#container section#fifth .inner .box .text-box,
#container section#sixth .inner .box .text-box {
  margin-bottom: 48px;
}

#container section#fifth .inner .box .text-box .maintitle,
#container section#sixth .inner .box .text-box .maintitle {
  color: #222222;
  font-size: 49px;
}

#container section#fifth .inner .box .text-box .subtitle,
#container section#sixth .inner .box .text-box .subtitle {
  color: #666666;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0;
}

#container section#fifth a.btn-outline,
#container section#sixth a.btn-outline {
  position: absolute;
  bottom: 48px;
  right: 0;
  border: 0;
  color: #333333;
}

#container section#fifth a.btn-outline::before,
#container section#sixth a.btn-outline::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 1px;
  background:linear-gradient(45deg,#00b9db,#0466fd);
  -webkit-mask:
  linear-gradient(#fff 0 0) content-box,
  linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

#container section#fifth a.btn-outline:hover::before,
#container section#sixth a.btn-outline:hover::before {
  padding: 24px;
}

#container section#fifth a.btn-outline:hover::after {
  content: "자세히 보기 →";
  position: absolute;
  top: 28%;
  left: 22%;
  color: #ffffff;
}

#container section#sixth a.btn-outline:hover::after {
  content: "전체보기 →";
  position: absolute;
  top: 26%;
  left: 24%;
  color: #ffffff;
}

#container section#fifth .inner .box .left {
  position: relative;
  width: 640px;
  height: 640px;
  border-radius: 30px;
  margin-right: 40px;
  overflow: hidden;
}

#container section#fifth .inner .box .txt-box {
  position: absolute;
  top: 50px;
  left: 40px;
}

#container section#fifth .inner .box .txt-box h3 {
  font-size: 20px;
  font-weight: 400;
  color: #222222;

}

#container section#fifth .inner .box .txt-box p {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 500;
  color: #333333;
  line-height: 36px;
}

#container section#fifth .inner .box .txt-box p span {
  font-size: 45px;
  font-weight: 400;
  letter-spacing: -1px;
}

#container section#fifth .inner .box img {
  position: absolute;
  top: 0;
  width: 100%;
  transition: .5s;
}

#container section#fifth .inner .box .left:hover img,
#container section#fifth .inner .box .right-top:hover img,
#container section#fifth .inner .box .right-bottom:hover img {
  transform: scale(1.1, 1.1);
}

#container section#fifth .inner .box .right-top {
  position: relative;
  overflow: hidden;
  width: 640px;
  height: 250px;
  border-radius: 30px;
  margin-bottom: 40px;
}

#container section#fifth .inner .box .right-bottom {
  position: relative;
  overflow: hidden;
  width: 640px;
  height: 350px;
  border-radius: 30px;
}

#container section#sixth .inner .box:last-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#container section#sixth .inner .box .con-box {
  width: 31%;
  cursor: pointer;
}

#container section#sixth .inner .box .con-box .img {
  width: 100%;
  height: 310px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 3px 3px 8px #d1d1d1;
  overflow: hidden;
}

#container section#sixth .inner .box .con-box .img img{
  width: 100%;
  height: 310px;
  object-fit: cover;
  transition: all .3s ease-in-out;
}

#container section#sixth .inner .box .con-box .img img:hover {
  transform: scale(1.1);
}

#container section#sixth .inner .box .con-box:nth-child(1) .img img {
  object-fit: contain;
}

#container section#sixth .inner .box .con-box .txt-box {
  margin-top: 20px;
  margin-left: 5px;
}

#container section#sixth .inner .box .con-box .txt-box h3 {
  font-size: 18px;
  color: #0466fd;
  font-weight: 500;
  line-height: 36px;
}

#container section#sixth .inner .box .con-box .txt-box p {
  font-size: 20px;
  color: #222222;
  line-height: 28px;
  margin-top: 10px;
}

#container section#sixth .inner .box .con-box .txt-box .tag {
  margin-top: 20px;
}

#container section#sixth .inner .box .con-box .txt-box .tag span {
  display: inline-block;
  padding: 12px 15px;
  border: 1px solid #d1d1d1;
  font-size: 14px;
  border-radius: 5px;
  color: #222222;
  margin-right: 5px;
}

#container section#sixth .inner .box .con-box .txt-box .tag span:last-child {
  margin-right: 0;
}

#container section#seventh {
  width: 100%;
  padding-bottom: 120px;
}

#container section#seventh .contact-banner {
  width: 1280px;
  height: 312px;
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
  background: url('../img/contact-banner-bg.png') no-repeat center / cover;
}

#container section#seventh .contact-banner h3 {
  font-size: 32px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 40px;
  font-weight: 500;
}

#footer {
  background-color: #f7f7f7;
}

#footer .inner {
  width: 1280px;
  margin: 0 auto;
  min-height: 260px;
}

#footer .inner .f-box {
  width: 100%;
  float: left;
  position: relative;
}

#footer .inner .f-box.menu {
  padding-top: 55px;
}

#footer .inner .f-box.menu ul li {
  float: left;
  margin-right: 30px;
}

#footer .inner .f-box.menu ul li:last-child {
  margin-right: 0;
}
#footer .inner .f-box.menu ul li.bold a {
  color: #111111;
}

#footer .inner .f-box.menu ul li a {
  font-size: 14px;
}

#footer .inner .f-box .info {
  width: 400px;
  height: auto;
}

#footer .inner .f-box .info ul {
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
}

#footer .inner .f-box .info ul li {
  float: left;
  margin-right: 20px;
}

#footer .inner .f-box .info ul li a {
  font-size: 12px;
  line-height: 20px;
}

#footer .inner .f-box .info .copyright {
  margin-top: 30px;
  font-size: 13px;
}

#footer .inner .f-box .btns {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
}

#footer .inner .f-box .btns a {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  border: 1px solid #cccccc;
  border-radius: 20px;
  color: #111111;
  font-size: 15px;
}

#footer .inner .f-box .btns a span {
  margin-left: 5px;
}

#footer .inner .f-box .btns .select {
  position: relative;
  width: 200px;
  height: 40px;
  margin-left: 12px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  background-color: #e6e6e6;
  background-image: url("../img/select_box_plus.png");
  background-repeat: no-repeat;
  background-position: calc( 100% - 15px ) center;
  cursor: pointer;
  border-radius: 5px;
  transition: .4s ease;
}

#footer .inner .f-box .btns .select.on {
  background-color: #000000;
  background-image: url("../img/select_box_minus.png");
}

#footer .inner .f-box .btns .select.on > h4 {
  color: #ffffff;
}

#footer .inner .f-box .btns .select.on > ul {
  opacity: 1;
  visibility: visible;
}

#footer .inner .f-box .btns .select h4 {
  width: 100%;
  height: 40px;
  padding: 1px 0 1px 15px;
  line-height: 38px;
  font-size: 14px;
  color: #000000;
  font-weight: 400;
}

#footer .inner .f-box .btns .select ul {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 200px;
  height: auto;
  background: #ffffff;
  border-radius: 10px 10px 0 0;
  padding: 12px 10px 12px 16px;
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  transition: .4s ease;
}

#footer .inner .f-box .btns .select ul li {
  padding: 4px 0;
  line-height: 1.7;
  font-size: 14px;
  color: #222222;
}

#footer .inner .f-box .btns .select ul li:hover {
  color: #006ecd;
}
